body {
    background: blue  ;
    font-family: 'Courier New', Courier, monospace;


}


button {
    background: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
:placeholder-shown {
    background: red;
    position: center;
}